
LittleBlueTooth.xcodeproj/project.xcworkspace/xcuserdata/Andrea.xcuserdatad/UserInterfaceState.xcuserstate
LittleBlueTooth.xcodeproj/project.xcworkspace/xcuserdata/Andrea.xcuserdatad/UserInterfaceState.xcuserstate

LittleBlueTooth.xcodeproj/xcuserdata/Andrea.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
